.users-head{}
.users-head > div{}
.users-body{}
.users-body > div{}

table.countries{
    background: #222D32;
    color: #fff;
}
table.countries tr:hover {background-color: #2B383E;}
table.countries td{padding: 0px !important;border-color: #303E44 !important;}
table.countries .country-block {
    position: relative;
    color: #fff;
}
table.countries .country-block span:nth-of-type(1){
    display:  block;
    height: 100%;
    padding: 5px;
    background: #1A2226;
    position:  absolute;
    z-index: 1;
}
table.countries .country-block span:nth-of-type(2){
    display:  block;
    height: 100%;
    padding: 5px;
    z-index: 2;
    position: relative;
}
table.countries .country-block span:nth-of-type(3){
    display:  block;
    position:  absolute;
    right: 0;
    top: 0;
    padding: 5px;
}
.mostvisited {}
.mostvisited tr {}
.mostvisited tr td {
    height: 30px;
    padding-left: 5px !important;
    line-height: 30px !important;
}