/*typography*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700);

body, input, textarea, select {
    font-family: "Open Sans", Arial, sans-serif;
}

body, input, textarea, select {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, .post-title, .widget-title, .footer-content {
    font-family: "Open Sans", Arial, sans-serif;
}

/* logo */
.logo-container a {
    top: -14px;
    left: 0;
}

/* colors */
/* body &amp; such... */
body, .drop-down-navigation .navigation li a, .skoty .wp-playlist-item .wp-playlist-caption, .skoty .skoty .wp-playlist-item-length, .skoty .wp-playlist-light .wp-playlist-playing, .post.format-chat a.more-link, .widgets .widget_recent_comments, #lang_sel_footer a, .page-template-archive-page-php .archive-recent-posts-wrapper ul li a, .page-template-archive-page-php .archive-categories-wrapper ul li a, .page-template-archive-page-php .archive-months-wrapper ul li a {
    color: #474851;
}

body, #header, .drop-down-navigation .navigation li, .drop-down-navigation .navigation li a, .drop-down-navigation .navigation li:after, .header-avatar-wrapper:before, .posts:after, .main-content, .header-search-form, .skoty .mejs-controls .mejs-time-rail .mejs-time-current, .skoty .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current, .tab-box .tab-btns li, .tab-box .tabs, .flex-control-nav > li a, .our-clients .atbb-grid-gallery > li figure, .atbb-team-members-wrapper .flex-direction-nav > li a, .horizontal-navigation .navigation ul > li {
    background-color: #fff;
}

.drop-down-navigation .navigation li:first-child, .drop-down-navigation .navigation li:last-child, .drop-down-navigation .navigation:before, .has-header-media .header-avatar-wrapper:after, .horizontal-navigation .navigation ul::before {
    border-color: #fff;
}

.tab-box .tab-btns li.active-tab {
    border-bottom-color: #fff;
}

/* headings &amp; such... */
h1, h2, h2, h3, h4, h5, h6, strong, .footer-content, .post-title, .widget-title, .post-title a, .post-date a:hover, .post-details a:hover, .post-details .likes:hover, .post-taxonomies a:hover, .comment-reply-link:hover, .skoty .wp-playlist-item.wp-playlist-playing, .skoty .wp-playlist-item.wp-playlist-playing a, .page-links a span, .page-links span.page-links-title, .comment-author a, .comment-pagination a, .drop-cap:first-letter, .toggle > li > a, .tab-box .tab-btns li a, .atbb-team-member-name, .main-sidebar-opener, input[type="text"], .content.seach-results article .search-result-title a, .post-details .share:hover > .fa, .footer-content-wrapper .to-top, .atbb-team-members-wrapper .flex-direction-nav > li a, .next-prev-post-links a, .related-posts article .related-post-title, .horizontal-navigation .navigation ul > li a, .atp-grid-portfolio .atp-project-title, .atp-grid-portfolio .atp-filter-label, .atp-grid-portfolio .atp-project-categories li span:hover, .atp-carousel-portfolio .flex-direction-nav > li a {
    color: #1b1c23;
}

/* text colors inverse */
/*body text*/
.header-wrapper, .widgets, .widgets a, .blog .content article figure .wp-caption-text, .post.format-chat a.more-link:hover, .about-content, .widget_search .search-form input.search-field, p.wp-caption-text, .horizontal-navigation .navigation li a, .atp-carousel-portfolio .atp-project-details, .atp-slider-portfolio .atp-project-excerpt, .atp-slider-portfolio .atp-project-categories span, .atp-grid-portfolio.ato-nogutter .atp-project-categories li {
    color: #e8e8e8;
}

.boxbuilder-content .atbb-section.section-background-dark p,
.boxbuilder-content .atbb-section.section-background-dark strong,
.boxbuilder-content .atbb-section.section-background-dark blockquote {
    color: #e8e8e8;
}

/*header text*/
.header-wrapper h1, .header-wrapper h2, .header-wrapper h3, .header-wrapper h4, .header-wrapper h5, .header-wrapper h6, .about h1, .about h2, .about h3, .about h4, .about h5, .about h6, .header-wrapper strong, .widget-title, .drop-down-navigation .navigation li:hover > a, .slider-gallery-direction-nav li, .post.format-link a.entry-link, .more-link:hover, .page-links > span, .bypostauthor .comment-avatar::before, input[type="submit"], input[type="button"], button, #navigation, .sidebar-navigation a, .scroll-down-indicator, .button, .button-primary, .about-title, .drop-cap.square:first-letter, .drop-cap.round:first-letter, .post.sticky.format-link .entry-wrapper::before, .flex-direction-nav > li a, .atbb-slider-gallery-caption, .atbb-skills li span.atbb-skill-title, .main-sidebar-wrapper table tbody tr td a:hover, .main-sidebar-opener.icons-hover .fa:nth-child(3), .breadcrumbs-wrapper, .breadcrumbs-wrapper strong, .has-header-media .header-wrapper .fa, .close-about .fa, .home-link, .section-background-image input, .section-background-image textarea, .section-background-image strong, .highlight, .main-sidebar .tagcloud a:hover, .post-details .share .atbe-share-box, .horizontal-navigation .navigation ul > li:hover a, .horizontal-navigation .navigation li.current-menu-item:not(.menu-item-type-custom):hover > a, .horizontal-navigation .navigation li.current-menu-item.menu-item-home:hover > a, .atp-grid-portfolio .atp-active-filter .atp-filter-label:hover, .atp-grid-portfolio .atp-active-filter .atp-filter-label, .atp-grid-portfolio.atp-nogutter .atp-project-categories li span:hover, .atp-slider-portfolio .atp-project-title, .atp-grid-portfolio.atp-nogutter .atp-project-title, .atp-grid-portfolio.atp-nogutter .atp-project-details, .atp-carousel-portfolio .atp-project-title, .header-content-wrapper .post-details a, .header-content-wrapper .post-details span,
.header-content-wrapper .post-details .share:hover > .fa {
    color: #fff;
    -webkit-text-stroke: 0;
}

.boxbuilder-content .atbb-section.section-background-dark h1, .atbb-section.section-background-dark h2,
.boxbuilder-content .atbb-section.section-background-dark h3, .atbb-section.section-background-dark h4,
.boxbuilder-content .atbb-section.section-background-dark h5, .atbb-section.section-background-dark h6,
.boxbuilder-content .atbb-section.section-background-dark .atbb-services-block-icon {
    color: #fff;
    -webkit-text-stroke: 0;
}

.footer-widgets-wrapper, .slider-gallery-direction-nav li, .skoty .mejs-container .mejs-controls, .skoty .mejs-controls .mejs-volume-button .mejs-volume-slider, .posts article figure.post-thumbnail, .preloader.content-preloader:before, .preloader.content-preloader:after, .page-links > span, input[type="submit"], input[type="button"], button, .button, .main-content section.about, .flex-direction-nav > li a, .boxbuilder-content .atbb-section.section-background, .atbb-grid-gallery > li figure, .atbb-team-members li figure, .atbe-share-box div.fa, .related-posts article .related-post-thumbnail, .atp-grid-portfolio .atp-project-thumb, .atp-carousel-portfolio .atp-project-thumb, .single.single-atp_project article .post-thumbnail {
    background-color: #31323a;
}

.skoty .wp-playlist .mejs-audio {
    border-color: #31323a;
}

.atbe-share-box::after {
    border-top-color: #31323a;
}

.atbb-services-block-icon, .post.sticky.format-quote .entry-wrapper::before, .post.sticky.format-aside .aside-post-content-wrapper::before, .post.sticky .post-date::before, .related-posts article .related-post-thumbnail a {
    color: #31323a;
}

.skoty .mejs-controls .mejs-time-rail .mejs-time-loaded, .footer-accomplishments-wrapper {
    background-color: #43444d;
}

.post.format-quote h5.post-title, .pagination .page-numbers, .footer-load-more-wrapper a {
    color: #43444d;
}

.main-sidebar, .sicky-header {
    background-color: #232329;
}

.post.format-quote .entry-wrapper, .post.format-aside .aside-post-content-wrapper, .footer-pagination-wrapper, .footer-load-more-wrapper, .message-box, .atbb-skills li, .main-sidebar-opener, .related-posts article.no-related-post-thumbnail .related-post-thumbnail, #footer .next-prev-post-links, .invert-icons a.atsi {
    background-color: #f8f8f8;
}

/*footer*/
.footer-copyright {
    color: #b6b8c1;
}

/* borders &amp; separators */
hr, .post.format-chat .post-content p {
    background-color: #f0f1f6;
}

.footer-copyright-wrapper, .no-footer-widgets #footer, .header-avatar-wrapper:after, .skoty .wp-playlist, .skoty .wp-playlist-item, input, textarea, select, .tab-box .tab-btns li, .tab-box .tabs, .tab-box .tabs li, .toggle > li, .toggle > li:last-child, #lang_sel_footer, .atp-grid-portfolio .atp-project-details, .open-comments.single.single-atp_project .post-comments-wrapper {
    border-color: #f0f1f6;
}

.tab-box .tab-btns li:last-child, .footer-accomplishments-wrapper .widgets > li .widget-title::after {
    border-right-color: #f0f1f6;
}

.widget-title::before, .sidebar-navigation li {
    border-color: #4b4c54;
}

.sidebar-navigation li.menu-item-has-children::before {
    color: #4b4c54;
}

/* icons */
.post-date, .post-details, .post-date a, .post-details a, .post-taxonomies .fa, .post-taxonomies a, .post-taxonomies, .comment-edit-link, .comment-date, .comment-form p, .form-allowed-tags, .archives-heading h6, .archives-heading h6, .atp-grid-portfolio .atp-project-categories li, .invert-icons a.atsi {
    color: #bebfc9;
}

.post.format-quote h5.post-title:after {
    background-color: #bebfc9;
}

.post-details .likes.atbe-liked {
    color: #ff5656;
}

/* acent colors */
a, .to-top:hover, .widgets a:hover, .post-title a:hover, a:hover strong, .skoty .wp-playlist-item:hover, .skoty .wp-playlist-item:hover a, .page-links a:hover span, .comment-pagination a:hover, .pagination .page-numbers.current, .pagination a.page-numbers:hover, .footer-load-more-wrapper a:hover, .comment-pagination span, .toggle > li.open > a, .tab-box .tab-btns li.active-tab a, .atbb-services-block:hover .atbb-services-block-icon, .sidebar-navigation a:hover, .content.seach-results article .search-result-title a:hover, .page-template-archive-page-php .archive-recent-posts-wrapper ul li a:hover, .page-template-archive-page-php .archive-categories-wrapper ul li a:hover, .page-template-archive-page-php .archive-months-wrapper ul li a:hover, .current-menu-item > a, .next-prev-post-links a:hover, .atp-grid-portfolio .atp-project-title:hover, .atp-grid-portfolio .atp-filter-label:hover, .atp-slider-portfolio .atp-project-title:hover, .atp-carousel-portfolio .atp-project-title:hover {
    color: #37c2dd;
}

.drop-down-navigation .navigation li:hover > a, .slider-gallery-direction-nav li:hover, .post.format-link .entry-wrapper, .more-link:hover, .bypostauthor .comment-avatar:before, .bypostauthor .comment-avatar:after, input[type="submit"]:hover, input[type="button"]:hover, button:hover, .button-primary, .button:hover, .drop-cap.square:first-letter, .drop-cap.round:first-letter, .atbb-skills li span.atbb-skill-level, .flex-control-nav > li a.flex-active, .flex-control-nav > li a:hover, .main-sidebar-wrapper table tbody tr td a, .main-sidebar .tagcloud a:hover, .highlight, .atbe-share-box div.fa:hover, .atp-grid-portfolio .atp-active-filter .atp-filter-label {
    background-color: #37c2dd;
}

blockquote, .atbb-skills li span.atbb-skill-level {
    border-color: #37c2dd;
}

.button-primary:hover, .post.format-link a.entry-link:hover {
    background-color: #4bd6f1;
}

.horizontal-navigation .navigation > li > a:hover, .horizontal-navigation .navigation li.current-menu-item > a, .horizontal-navigation .navigation li.current-menu-item.menu-item-home > a, .current-menu-item > a, .horizontal-navigation .navigation li.current-menu-item:not(.menu-item-type-custom) > a {
    color: #37c2dd;
}

.horizontal-navigation .navigation ul > li:hover a {
    background-color: #37c2dd;
}

/* selections */
::selection {
    background: #37c2dd;
    color: #fff;
}

::-moz-selection {
    background: #37c2dd;
    color: #fff;
}

/* inputs */
::-webkit-input-placeholder {
    color: #bebfc9;
}

:-moz-placeholder {
    color: #bebfc9;
}

::-moz-placeholder {
    color: #bebfc9;
}

:-ms-input-placeholder {
    color: #bebfc9;
}

.header-search-form .fa {
    color: #bebfc9;
}

/* header media */
.header-media,
.header-media-holder {
    background-color: #31323a;
}

/* header pattern */
/* social icons */
a.atsi, .tagcloud a {
    background-color: #202128;
    color: #fff;
}

.main-sidebar-wrapper a.atsi, .main-sidebar-wrapper a.atsi, .main-sidebar-wrapper .tagcloud a {
    background-color: #25252b;
    color: #fff;
}

a.atsi:hover, a.atsi:hover {
    background-color: #37c2dd;
    color: #fff;
}

/* spec anim easing */
.header-search-form, .blog.show-avatar .header-avatar-wrapper, .home.show-avatar .header-avatar-wrapper, .has-header-content.show-avatar .header-avatar-wrapper, .widget_atbe_accomplishments .widget-wrapper, .icons-hover .fa, .main-content, .search-opener > .fa-times {
    -webkit-transition-timing-function: cubic-bezier(.42, .66, .14, 1.24);
    -moz-transition-timing-function: cubic-bezier(.42, .66, .14, 1.24);
    -o-transition-timing-function: cubic-bezier(.42, .66, .14, 1.24);
    transition-timing-function: cubic-bezier(.42, .66, .14, 1.24);

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

@media (max-width: 480px) {
    .logo-container img {
        max-width: 35% !important;
    }
    #centeredmenu ul.hMenu li {
        width: 100%;
        margin-top: 1px !important;
    }
}

@media (max-width: 1299px) {
    .right_menu {
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        position: fixed;
        right: 0;
        top: 0;
        width: 300px;
        z-index: 100;
    }

    .right_menu > .menu_button {
        width: auto;
        height: 30px;
        background: rgba(0, 0, 0, 0.5);
        display: table;
        float: left;
        margin-left: 10px;
        padding: 10px;
    }

    .right_menu > .menu_button a {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 15px;
    }

    .right_menu > .menu_button > a img {
        display: none;
    }
}

@media (min-width: 1300px) {
    .right_menu {
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        position: fixed;
        right: 0;
        top: 70px;
        width: 130px;
        z-index: 100;
    }

    .right_menu > .menu_button {
        width: 100%;
        height: 85px;
        background: rgba(0, 0, 0, 0.5);
        margin-top: 15px;
        display: table;
    }

    .right_menu > .menu_button a {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 15px;
    }

    .right_menu > .menu_button > a img {
        width: 33.5px;
        height: 33.5px;
        display: block;
        margin: 0 auto;
    }
}

.center-box {
    margin: 0 auto;
}

article.content-article {
    margin-top: 100px;
    width: 600px;
}

article.profile-article {
    margin-top: 100px;
    width: 1030px;
}

.post-content {
    width: 100%;

}

@media (max-width: 640px) {
    article.content-article {
        width: 95%;
    }

    ol.progtrckr[data-progtrckr-steps="4"] li {
        width: 100% !important;
    }

    .post-content {
        width: 100%;
    }


}

.post-content input {
    width: 100%;
}

.post-content input[type=checkbox], .post-content input[type=radio] {
    width: auto;
}

.post-content button {
    width: 100%;
}

span.error-msg {
    color: red;
    font-weight: bold;
}

.alert-box {
    color: #555;
    border-radius: 10px;
    font-family: Tahoma, Geneva, Arial, sans-serif;
    font-size: 14px;
    padding: 10px 10px 10px 36px;
    margin: 10px;
}

.alert-box span {
    font-weight: bold;
    text-transform: uppercase;
}

.error {
    background: url('../images/red_cross.png') no-repeat 50% 0;
    font-weight: bold;
    padding: 70px 10px 10px 10px;
    text-align: center;
}

.success {
    background: url('../images/green_check.png') no-repeat 50% 0;
    font-weight: bold;
    padding: 70px 10px 10px 10px;
    text-align: center;
}

.warning {
    background: url('../images/warning.png') no-repeat 50% 0;
    font-weight: bold;
    padding: 70px 10px 10px 10px;
    text-align: center;
}

.notice {
    background: url('../images/info.png') no-repeat 50% 0;
    font-weight: bold;
    padding: 70px 10px 10px 10px;
    text-align: center;
}

.cropit-image-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 250px;
    height: 250px;
    cursor: move;
    margin: 7px auto;
}

.cropit-image-background {
    opacity: .2;
    cursor: auto;
}

.image-size-label {
    margin-top: 10px;
}

.hidden_example {
    display: none;
}

.post_item {
}

form textarea {
    width: 100%;
}

form fieldset {
    border: 2px solid #f0f1f6;
    padding: 15px;
}

.ui-datepicker {
    z-index: 9999 !important;
}

.ui-datepicker-month, .ui-datepicker-year {
    padding: 0 !important;
    margin: 0 !important;
}

hr {
    height: 2px;
}

.post_item {
    margin-top: 10px;
}

.post_item:first-child {
    margin-top: 0px;
}

#work_experience .post_item {
    border-top: 3px solid #cccccc;
}

#work_experience .post_item:first-child {
    border-top: none;
}

ol.progtrckr {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}

ol.progtrckr[data-progtrckr-steps="2"] li {
    width: 49%;
}

ol.progtrckr[data-progtrckr-steps="3"] li {
    width: 33%;
}

ol.progtrckr[data-progtrckr-steps="4"] li {
    width: 25%;
}

ol.progtrckr[data-progtrckr-steps="5"] li {
    width: 19%;
}

ol.progtrckr[data-progtrckr-steps="6"] li {
    width: 16%;
}

ol.progtrckr[data-progtrckr-steps="7"] li {
    width: 14%;
}

ol.progtrckr[data-progtrckr-steps="8"] li {
    width: 12%;
}

ol.progtrckr[data-progtrckr-steps="9"] li {
    width: 11%;
}

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}

ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}

ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}

ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}

ol.progtrckr li > a {
    text-decoration: none;
    transform: rotate(90deg);
    transform-origin: left top 0;
}

ol.progtrckr li > a:hover {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

#centeredmenu {
    float: left;
    width: 100%;
    /*background:#fff;
    border-bottom:4px solid #000;*/
    overflow: hidden;
    position: relative;
}

#centeredmenu ul.hMenu {
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
}

#centeredmenu ul.hMenu li {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 50%;
}

#centeredmenu ul.hMenu li a {
    display: block;
    margin: 0 0 0 1px;
    padding: 0.8em 0.6em;
    background: #252525;
    color: #fff;
    text-decoration: none;
    line-height: 1.3em;
}

#centeredmenu ul.hMenu li a:hover {
    background: #696262;
    color: #fff;
}

#centeredmenu ul.hMenu li a.active,
#centeredmenu ul.hMenu li a.active:hover {
    color: #fff;
    background: #696262;
    font-weight: bold;
}

.wider-content {
    width: 100%;
    margin-top: 10px;
    text-align: justify;
}

.biography {
    padding-top: 30px !important;
}

.biography p:first-of-type::first-letter {
    background: #37c2dd;
    font-size: 2em;
    color: #ffffff;
    padding: 0 0.2em;
}

.clearfix {
    clear: both;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

div.work-experience {
    width: 100%;
    background: url('../../assets/images/work_experience_bg.jpg');
    background-attachment: fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    position:relative;
    overflow:hidden;
}

div.work-experience h3 {
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
}

div.work-experience table {
    width: 1030px;
    margin: 0 auto;
    padding-top: 15px;
}

div.work-experience table tr td {
    border: 0;
}

div.lists {
    padding-top: 30px;
}

div.lists div.centerLists {
    width: 1030px;
    margin: 0 auto;
}

div.lists div.category {
    width: 30%;
    float: left;
    text-align: center;
    margin-left: 5%;
}

div.lists div.category:first-of-type {
    margin-left: 0;
}

div.lists div.category i.icon {
    font-size: 4em;
}

@media (max-width: 700px) {
    div.lists div.category {
        width: 100%;
        float: none;
        margin-left: 0;
    }
}

div.cooking-style {
    background: #333333;
    color: #FFFFFF;
    text-align: center;
    padding: 60px 0;
}

div.cooking-style h3 {
    color: #FFFFFF;
}

div.cooking-style p {
    width: 1030px;
    margin: 0 auto;
    text-align: justify;
}
div.skills {
    width: 100%;

    color: #ffffff;
    position:relative;
    overflow:hidden;
}

.work-media,
.skills-media {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: translateZ(0px);
    transition: opacity 0.5s ease 0s;
    width: 100%;
    z-index:2;
}

div.skills h3 {
    color: #ffffff;
    text-align: center;
}

.work-outer {
    position:relative;
    z-index:10;
}

div.skills div.outer {
    padding: 60px 0;
    position:relative;
    z-index:10;
}

div.skills div.cards {
    width: 1030px;
    margin: 0 auto;
}

div.skills div.side {
    width: 49%;
    float: left;
    margin-left: 2%;
}

div.skills div.side:first-of-type {
    margin-left: 0;
}

div.skills div.side ul {
    list-style: none;
}

div.skills div.side ul li {
    width: 100%;
    background: #37c2dd;
    color: #FFFFFF;
    text-align: center;
    margin: 10px;
    padding: 10px 0;
}

div.searchoffer {
    background: #333333;
    color: #FFFFFF;
    text-align: center;
    padding: 60px 0;
}

div.searchoffer div.side {
    float: left;
    width: 48%;
    margin-left: 4%;
}

div.searchoffer div.side:first-of-type {
    margin-left: 0;
}

div.searchoffer div.side h3 {
    color: #ffffff;
    text-align: center;
}

div.social {
    padding: 60px 0;
    text-align: center;
}

div.social div.links {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

div.social div.links a {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 5px;
    background: #36373f;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 10px;
}

div.social div.links a:first-of-type {
    margin-left: 0;
}

div.social div.links a:hover {
    background: #37c2dd;
}

div.interview {
    padding-top: 30px;
}

/* Add Recipe Page */
div.ingredientRow input,
div.ingredientRow select,
div.instructionRow input {
    display: inline;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
}

div.ingredientRow input.name {
    width: 40%;
}

div.ingredientRow input.quantity {
    width: 15%;
}

div.ingredientRow select.unit {
    width: 35%;
}

div.ingredientRow button.deleteIngredient,
div.instructionRow button.deleteInstruction {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
}

button.addIngredient,
button.addInstruction,
button.deleteComponent,
button.addImage,
button.deleteImage {
    width: auto;
    height: 35px;
    margin: 10px 0;
    padding: 0 20px;
    display: block;
}

div.instructionRow input.instruction {
    width: 90%;
}

div.ingredientRow,
div.instructionRow,
div.imageRow {
    padding-top: 10px;
}

div.ingredientRow:first-of-type,
div.instructionRow:first-of-type,
div.imageRow:first-of-type {
    padding-top: 0;
}

div.hidden {
    display: none;
}

div.component {
    border-bottom: 3px solid #cccccc;
}

div.component:last-of-type {
    border-bottom: none;
}

div.images {
    margin-top: 10px;
}

div.recipe-image-preview {
    width: 400px;
    height: 400px;
}

.text_center {
    text-align: center;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.recipes {
    text-align: inherit;
}

.post-content .ficon {
    vertical-align: middle;
    margin-top: 2px;
    margin-right: 8px;
    margin-bottom: 5px;
}

.foodstar_header.author a {
    color: #1b1c23;
    text-decoration: none;
    font-size: 18px;
}

.foodstar_header.author img {
    border-radius: 50%;
    margin-top: 8px;
}
.more_recipes {
    text-align: center;
}
.more_recipes a{
    background-color: #332F30;
    padding: 5px 10px;
    border: 1px solid #474344;
    text-decoration: none;
}

.hr-gray {
    background-color: #DDDDDD;
    margin-top: 35px;
    margin-bottom: 10px;
    height: 2px;
}

.g_partners .one-third-column {
    text-align: center;
}

.more_recipes a {
    color: #00D1FA;
}

.pagination {
    list-style: none !important;
}

.pagination li {
    display: inline-block;
    padding: 3px 12px;
    color: #fff;
    background-color: #1B1C23;
    margin-right: 5px;
    margin-top: 5px;
}

.pagination li.active {
    background-color: #00D1FA;
}

.post-details {
    text-align: center;
}

.post-content-wrapper {
    box-sizing: border-box;
    padding: 0 40px;
}

.recipe-article {
    margin-top: 100px;
    width: 800px;
}

.recipe-article .post-content {
    width: 100%;
}

.comments {
    padding-top: 20px;
}

.margin-top-100 {
    margin-top: 100px;
}

article.homepage {
    width: 1070px;
    margin-top: 100px;
}

@media (max-width: 1070px) {
    article.homepage {
        width: 95%;
    }
}

@media (min-width: 1070px) {
    .page .content article {
        width: 32%;
    }
}

@media (max-width: 960px) {
    .recipe-article {
        width: 95%;
    }
    .post-content-wrapper {
        padding: 0px !important;
    }
    .search h1 {
        font-size: 35px !important;
    }
}

article.homepage h1.post-title {
    box-sizing: border-box;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: -3px;
    line-height: 56px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0 40px;
    text-align: center;
}

.search h1 {
    font-size: 40px !important;
}

@media (max-width: 800px) {
    article.profile-article {
        width: 100%;
    }

    .wider-content {
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    div.work-experience table {
        width: 100%;
    }

    div.searchoffer div.side {
        float: none;
        width: 90%;
        margin: 0 auto !important;
    }

    div.skills div.side {
        float: none;
        margin-left: 0;
        width: 100%;
    }

    div.skills div.side ul li {
        margin: 10px auto;
    }

}

@media (max-width: 450px) {
    div.recipe-image-preview {
        width: 250px;
        height: 250px;
    }
}

.filter_recipes {
    text-align: center;
    margin-bottom: 30px;
}

.filter_recipes a {
    background-color: #333333;
    color: #fff;
    padding: 8px 12px;
    margin-right: 3px;
}

.filter_recipes a.active {
    background-color: #37C2DD;
}

.header-avatar-wrapper::after {
    border-color: #fff !important;
}

article.recipe-article hr {
    margin: 20px 0;
}

.warning_text {
    color: orange;
}

.edit_recipe_button {
    background-color: #333;
    color: #fff !important;
    display: block;
    padding: 5px;
    margin-bottom: 30px;
}

.new-post-title {
    box-sizing: border-box;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: -3px;
    line-height: 56px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0 40px;
    text-align: center;
}

div.limit-content {
    width: 1030px;
    margin: 0 auto;
}

div.profile_social {
    width: 1030px;
    margin: 0 auto;
    margin-top: 60px;
}

@media(max-width: 1030px) {
    div.lists div.centerLists {
        width: 80%;
    }

    div.cooking-style p {
        width: 80%;
    }

    div.skills div.cards {
        width: 80%;
    }

    div.limit-content {
        width: 100%;
    }

    div.profile_social {
        width: 80%
    }

    article.profile-article {
        width: 100%;
    }
}

div.social_buttons {
    margin: 10px 0;
}

article.hentry .post-content {
    width: 300px;
}

#pwindicator {
    margin-top: 4px;
    width: 150px;
}

.bar {
    height: 2px;
}

.pw-very-weak .bar {
    background: #d00;
    width: 30px;
}

.pw-very-weak .label {
    color: #d00;
}

.pw-weak .bar {
    background: #d00;
    width: 60px;
}

.pw-weak .label {
    color: #d00;
}

.pw-mediocre .bar {
    background: #f3f01a;
    width: 90px;
}

.pw-mediocre .label {
    color: #f3f01a;
}

.pw-strong .bar {
    background: #f3b31a;
    width: 120px;
}

.pw-strong .label {
    color: #f3b31a;
}

.pw-very-strong .bar {
    background: #0d0;
    width: 150px;
}

.pw-very-strong .label {
    color: #0d0;
}

article div.reg a, article div.reg a:link, article div.reg a:active, article div.reg a:visited,
article table.news a, article table.news a:link, article table.news a:active, article table.news a:visited, article table.news a,
article ol li a,article ol li a:link, article ol li a:active, article ol li a:visited,
.alert-box a, .alert-box a:link, .alert-box a:active, .alert-box a:visited,
a.component_picture_delete {
    color: #37C2DD;
}

article div.reg a:hover,
article table.news a:hover,
article ol li a:hover,
.alert-box a:hover,
a.component_picture_delete {
    border-bottom: 1px dashed;
}

div.components {
    margin-top: 10px;
}

.old_user {
    color: #000;
    position: fixed;
    padding: 15px;
    z-index:9999;
    top: 0px;
    background-color: #fff;
    width: 100%;
    text-align: center;
}

.old_user a {
    font-weight: bold;
}

.input-error {
    border-color: red;
}

span.required {
    color: red;
}

fieldset p {
    margin-bottom: 0;
}

.errDiv {
    padding: 10px 0;
}

fieldset legend {
    font-weight: bold;
}

fieldset {
    margin: 10px 0;
    background-color: rgba(171, 168, 167, 0.04);
}

.datePick input {
    width: 25%;
}

.datePick select {
    width: auto;
}

.hidden {
    display: none;
}

@media (min-width: 320px) {
    .datePick .pull-left {
        width: 50%;
        float: left;
    }
}

@media (max-width: 319px) {
    .datePick .pull-left {
        width: 100%;
        float: none;
    }
}

.plusMenu {
    width: 20%;
    float: right;
}

.plusMenu li {
    list-style: none;
}
.plusMenu ul {
    display: none;
} /* Hide before plugin loads */
.plusMenu ul.dropit-submenu {
    background-color: #04D0FB;
    padding: 6px 0;
    margin: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
    width: 200px;
    position: fixed;
    z-index: 100;
    bottom: 120px;
    right: 10px;
}
.plusMenu ul.dropit-submenu a {
    display: block;
    font-size: 14px;
    line-height: 25px;
    color: #ffffff;
    padding: 3px 18px;
}
.plusMenu ul.dropit-submenu a:hover {
    background: #248fc1;
    color: #fff;
    text-decoration: none;
}

.plusMenu ul.dropit-submenu a img {
    vertical-align: middle;
    padding-right: 5px;
}

.plusBtn {
    position: fixed;
    float:right;
    z-index: 9999;
    padding-right: 10px;
    bottom: 10px;
    right: 0;
}

.plusMenu ul.dropit-submenu:after {
    content: "";
    position: absolute;
    top: 100%;
    right: 25px;
    border-top: 10px solid #04D0FB !important;
    border-top-color: inherit;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.plusMenu ul.dropit-submenu li {
    border-top: 1px solid #ffffff;
}

.plusMenu ul.dropit-submenu li:first-child {
    border-top: none;
}

@media(max-width: 1024px) {
    .plusMenu ul.dropit-submenu {
        bottom: 70px;
    }

    .plusBtn {
        width: 40px;
        height: 40px;
    }

    .plusMenu ul.dropit-submenu:after {
        right: 10px;
    }
}

@media(min-width: 1025px) {
    .plusMenu ul.dropit-submenu {
        bottom: 125px;
    }

    .plusBtn {
        width: 100px;
        height: 100px;
    }

    .plusMenu ul.dropit-submenu:after {
        right: 40px;
    }
}

.editBtnBg {
    background-color: #252525;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    position: relative;
    float:right;
    z-index: 9999;
    text-align: center;
}

.editBtnBg img {
    padding-top: 13px;
}

@media (max-width: 800px) {
    .page article .post-title,
    .new-post-title {
        font-size: 30px;
    }
}

#footer {
    position: relative;
    z-index: -10;
}

.imageGalleriesOverview {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

figure.post-thumbnail {
    position: relative;
    margin-top: -25px;
}

figure.post-thumbnail h2.post-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background: rgba(255, 255, 255, 0.8);
    font-size: 20px;
}

figure.post-thumbnail h2.post-title a {
    padding: 5px 10px;
    width: auto;
}

div.additional-info {
    float: left;
    width: 43%;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background-color: #303030;
    color: #ffffff;
}

article.hentry .post-content {
    width: 100%;
}

div .foodstar_header table tr td, table tr th {
    position: relative;
    z-index: 50;
    border: 0;
}

.page article.hentry .post-title {
    margin: 0;
}

div.additional-info img {
    padding-top: 7px;
}

div.additional-info span {
    position: relative;
    top: -4px;
    left: 10px;
}

div .foodstar_header table {
    margin-bottom: 0;
}

.content-wrapper {
    z-index: -1000 !important;
}

@media screen and (max-width: 640px) {
    .show-avatar .header-content-wrapper {
        -webkit-transform: translate(0, 0) !important;
        -moz-transform: translate(0, 0) !important;
        -o-transform: translate(0, 0) !important;
        transform: translate(0, 0) !important;
    }
}

.logo-container img {
    width: 100%;
    height: 100%;
}

ul.footer-links {
    padding-bottom: 50px;
    border-bottom: 1px solid;
    text-align: center;
}

ul.footer-icons {
    list-style: none;
    text-align: center;
    padding-top: 50px;
}

ul.footer-icons li, ul.footer-links li {
    display: block;
    width: 100%;
}

@media(min-width: 800px) {
    ul.footer-icons li, ul.footer-links li {
        display: inline-block;
        width: 13%;
    }
}



.footer-widgets-wrapper {
    padding: 60px 20px 0;
}

div.video-preview {
    width: 300px;
    height: 300px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

div.video-preview img {
  position: absolute;
  left: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

div.video-preview .overbox {
  background-color: #304562;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 100%;
  height: 100%;
}

div.video-preview:hover .overbox { opacity: 1; }

div.video-preview .overtext {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
  padding-top: 65px;
  padding-left: 20px;
  padding-right: 20px;
}

div.video-preview .title {
  font-size: 1.5em;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}

div.video-preview:hover .title,
div.video-preview:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

div.video-preview .tagline {
  font-size: 0.8em;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
}

div.video-preview:hover .tagline,
div.video-preview:focus .tagline {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

@media(max-width: 600px) {
    div.chronic_post {
        width: 100%;
    }
}

@media(min-width: 601px) {
    div.chronic_post {
        width: 600px;
    }
}

div.chronic_post {
    margin: 0 auto;
    float: none;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}

div.chronic_post:last-of-type {
    border-bottom: none;
}

.upload-background{
    position: absolute;
    top: 20px;
    left: 20px;
    color: #B1AFB6;
    font-size: 3em;
    z-index: 999;
    cursor: pointer;
}

.upload-background.active{
    background-color: #000000;
    border: 1px solid #74B3CB;
    padding: 5px 15px;
    font-size: 1.5em;
    line-height: 1.6;
}

.upload-background > .fa-camera{
    cursor: pointer;
}

.upload-background .text{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding-left: 10px;
}