.control-section,
.accordion-section,
.wp-full-overlay-header {
	-webkit-backface-visibility: hidden;
}

.customize-control {
	margin-bottom: 12px;
}

/*.control-section.accordion-section .customize-control-image {
	display: none;
}

.control-section.accordion-section.open .customize-control-image {
	display: inline-block;
}*/



.customize-control-select select {
	width: 100%;
}


.customize-control-description {
	margin-bottom: 12px;
}


.chosen-with-drop .chosen-drop {
	position: relative;
}




.custom-separator {
	border: none;
	height: 0;
	background: none;
	width: 100%;

	border-bottom: 1px solid #ededed;
}

.customize-control-attic-separator .customize-control-title {
	font-weight: 700;
	font-size: 150%;
	margin-top: 24px;
	letter-spacing: -1px;
}

.customize-control-separator:first-child .customize-control-title,
.customize-control-separator:nth-child(2) .customize-control-title {
	margin-top: 12px;
}



.customize-slider-container {
	position: relative;
	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.customize-slider-container label {
	width: 100%;
}

.customize-slider-container .customize-slider {
	position: relative;
	width: 60%;
	height: 24px;
	margin-left: 6px;

	/*border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;

	background-color: #ededed;*/
	float: left;
}

.customize-slider-container .customize-slider:before {
	position: absolute;
	content: "";
	height: 24px;
	width: 100%;
	top: 0px;
	left: -12px;

	border: 1px solid #bbb;
	border-right: none;

	background-color: #ededed;

	-webkit-border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	-o-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
	z-index: 0;
}

.customize-slider-container .customize-slider:after {
	position: absolute;
	content: "";
	height: 24px;
	width: 24px;
	top: 0px;
	right: -13px;

	border: 1px solid #bbb;
	border-left: none;

	background-color: #ededed;

	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	-o-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	z-index: 0;
}

.customize-slider-container .ui-slider-handle {
	display: inline-block;
	position: absolute;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	background-image: linear-gradient(to bottom, #fefefe, #f4f4f4);
	border: 1px solid #bbb;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	z-index: 1;

	cursor: ew-resize;
}

.customize-slider-container a.ui-slider-handle:focus {
	outline: none;
}

.customize-slider-container .customize-slider:hover:before, .customize-slider-container .customize-slider:hover:after {
	border-color: #aaa;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.customize-slider-container a.ui-slider-handle:hover {
	border-color: #aaa;
}

.customize-control input[type="text"].sider-value,
.customize-control input[type="number"].sider-value {
	float: left;
	width: 24%;
	margin-right: 6%;
}

.customize-control input[type="number"].sider-value {
	line-height: 17px;
}



.customize-control textarea {
	width: 100%;
}








.customize-control .iris-picker .iris-square-value {
	width: 0px;
	height: 0px;
	position: relative;
	outline: none;
}














.customize-media {
	position: relative;
	display: block;
	width: 100%;

	border: 2px dotted #ededed;
}


.customize-media .customize-media-preview {
	position: relative;
	margin: 6px;
	padding: 6px;
	min-height: 46px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	text-align: center;
	background-color: #fff;
}

.customize-media .customize-media-preview a.customize-media-remove {
	position: absolute;

	right: 12px;
	top: 12px;

	color: #fff;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);

	display: none;
	cursor: pointer;
}

.customize-media .customize-media-preview a.customize-media-remove::before {
	content: '\f158';
	font: 400 23px/21px dashicons;

	speak: none;
	vertical-align: middle;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.customize-media .customize-media-preview a.customize-media-set-fallback {
	position: absolute;

	right: 40px;
	top: 12px;

	color: #fff;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);

	display: none;
	cursor: pointer;
}

.customize-media .customize-media-preview a.customize-media-set-fallback::before {
	content: '\f132';
	font: 400 21px/24px dashicons;

	speak: none;
	vertical-align: middle;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.customize-media.has-media-thumb.is-video .customize-media-preview a.customize-media-set-fallback,
.customize-media.has-media-thumb .customize-media-preview a.customize-media-remove {
	display: block;
}

.customize-media.has-media-thumb .customize-media-preview a.customize-media-set-fallback:hover {
	color: #2ea2cc;
}

.customize-media.has-media-thumb .customize-media-preview a.customize-media-remove:hover {
	color: red;
}


.customize-media .customize-media-preview a.customize-media-select {
	display: inline-block;
	margin: 7px 0 6px 0;
	cursor: pointer;
}

.customize-media.has-media-thumb .customize-media-preview a.customize-media-select {
	display: none;
}

.customize-media.has-media-thumb .customize-media-preview img.image-attachment-preview,
.customize-media.has-media-thumb .customize-media-preview video {
	display: block;
	max-width: 100%;
	margin: 0 auto;

	cursor: pointer;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



.customize-media.has-media-thumb:hover .customize-media-preview img.image-attachment-preview {
	opacity: 0.85;
}




.fallback-media-preview {
	position: absolute;

	bottom: 0px;
	right: 0px;

	width: 52px;

	border: 2px solid #fff;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	cursor: pointer;
}

.fallback-media-preview:hover {
	border: 2px solid #2ea2cc;
}






.customize-layout-select {
	width: 100%;
	cursor: pointer;
}

.customize-layout-select-selected {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;

	border: 1px dashed #ccc;
	background-color: #f8f8f8;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding: 10px;
}

.customize-layout-select-selected:after {
	content: attr(title);
	position: absolute;
	display: block;

	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding: 10px;
	z-index: 10;
	background-color: #ededed;

	color: #333;
	text-align: center;
	display: none;
}

.customize-layout-select-selected:hover:after {
	display: block;
}

.customize-layout-select.open-layout-select-list .customize-layout-select-selected:after {
	display: block;
}

.customize-layout-select-list {
	list-style: none;
	display: block;
	width: 100%;
	overflow: hidden;
	display: none;
}

.customize-layout-select.open-layout-select-list .customize-layout-select-list {
	display: block;
}

.customize-layout-select-list li {
	width: 100%;
	float: left;
	clear: both;

	/*border: 1px solid #ededed;
	border-top: none;*/ 

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding: 10px;
	margin: 0;

	border: 1px solid #ededed;
	border-top: none;
}

.customize-layout-select-list li:hover {
	background-color: #ededed;
}

.customize-layout-select-selected span,
.customize-layout-select-list span {
	display: block;
	float: left;
	height: 20px;
	padding: 5px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.customize-layout-select-selected span:before,
.customize-layout-select-list span:before {
	content: '';
	position: relative;
	display: block;
	float: left;

	width: 100%;
	height: 100%;

	border: 1px solid #ccc;
	background-color: #f8f8f8;
}

.customize-layout-select-selected .full-width,
.customize-layout-select-list .full-width {
	width: 100%;
	clear: both;
}

.customize-layout-select-selected .one-third,
.customize-layout-select-list .one-third {
	width: 33.33%;
}

.customize-layout-select-selected .two-thirds,
.customize-layout-select-list .two-thirds {
	width: 66.66%;
}

.customize-layout-select-selected .one-fourth,
.customize-layout-select-list .one-fourth {
	width: 25%;
}

.customize-layout-select-selected .one-half,
.customize-layout-select-list .one-half {
	width: 50%;
}