body {
	font: 14px/28px 'Open Sans', sans-serif;
	width: 650px;
}

body.post-type-page {
	width: auto;
	max-width: 1070px;
}

ul {
	list-style: disc;
	list-style-position: inside;
	margin-bottom: 28px;
}

ol { 
	list-style-position: inside;
	margin-bottom: 28px;
}

ul ul, 
ol ol,
ol ul,
ul ol {
	margin-left: 30px;
	margin-bottom: 0px;
}


a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: underline;
	outline: none;
}

input, button {
	border-radius: 2px;
}

input:focus, button:focus {
	outline: none !important;
}

a:link, a:visited {
	outline: none;
}

address {
	margin-bottom: 28px;
}

acronym, abbr {
	font-weight: bold;
	font-style: italic;
}

code {
	margin-left: 3px;
}

pre {
	padding: 14px 20px;
	border: 1px solid #ededed;
	background-color: #f8f8f8;
	color: #666666;
	margin-bottom: 28px;
	overflow: auto;
}

sup {
	display: inline-block;
	font-size: xx-small;
	vertical-align: top;
	margin-top: -5px;
}

sub {
	display: inline-block;
	font-size: xx-small;
	vertical-align: bottom;
	margin-bottom: -5px;
}

img, iframe, embed {
	max-width: 100%;
	/*height: auto;*/
}

img {
	height: auto;
}

q {
	font-style: italic;
}

strong {
	font-weight: 700;
}

.to-uppercase {
	text-transform: uppercase;
}

p {
	margin-bottom: 28px;
}



/* Typography */

body, input, textarea, button, .button {
	font-size: 16px;
	line-height: 28px;
}

h1 {
	font-size: 56px;
	line-height: 56px;
	letter-spacing: -3px;
	word-spacing: 3px;
	font-weight: 300;
	margin-bottom: 28px;
}

h2 {
	font-size: 42px;
	line-height: 56px;
	letter-spacing: -2px;
	word-spacing: 3px;
	font-weight: 400;

	margin: 14px 0;
}

h3 {
	font-size: 30px;
	line-height: 42px;
	letter-spacing: -2px;
	word-spacing: 3px;
	font-weight: 400;
	margin-top: 7px;
	margin-bottom: 7px;
}

h4 {
	font-size: 24px;
	line-height: 28px;
	letter-spacing: -1px;
	word-spacing: 2px;
	font-weight: 400;
	margin-top: 14px;
	margin-bottom: 14px;
}

h5 {
	font-size: 18px;
	line-height: 28px;
	letter-spacing: -1px;
	word-spacing: 1px;
	font-weight: 600;

	margin-top: 14px;
	margin-bottom: 14px;
}

h6 {
	font-size: 14px;
	line-height: 28px;
	letter-spacing: -1px;
	word-spacing: 1px;
	font-weight: 700;
}

blockquote {
	display: inline-block;
	padding-left: 28px;
	border-left: 2px solid transparent;

	margin-bottom: 28px;

	font-size: 20px;
	line-height: 28px;
	font-weight: 300;
	font-style: italic;
}

blockquote p {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

cite {
	font-style: italic;
	font-weight: bold;
}

iframe, embed {
	display: block;
}

hr {
	height: 1px;
	width: 100%;
}

/* table */
table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 28px;
}

thead tr:first-child th {
	border-bottom: 2px solid #42d18c;
}

table tr th {
	padding: 0 7px;
}

table tr {
	text-align: left;
}

table tr td,
table tr th {
	padding: 0 7px;
	border-bottom: 1px solid #ededed;
}

/* dl */
dl {
	overflow: hidden;
}

dl dt {
	display: inline-block;
	float: left;
	clear: left;

	margin-right: 4px;
}

dl dd {
	display: inline-block;
	font-weight: bold;

	float: left;
	clear: right;
}














/* WP Core */
iframe.twitter-tweet,
iframe.twitter-tweet-rendered {
	width: 100%;
}





.alignnone {
	margin: 7px 0px 7px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 7px auto 7px auto;
	clear: both;
}

.alignright {
	float:right;
	margin: 7px 0 7px 14px;
}

.alignleft {
	float: left;
	margin: 7px 14px 7px 0;
}

.aligncenter {
	display: block;
	margin: 7px auto 7px auto;
}





a img.alignright {
	float: right;
	margin: 7px 0 7px 14px;
}

a img.alignnone {
	margin: 7px 0px 7px 0;
}

a img.alignleft {
	float: left;
	margin: 7px 14px 7px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}





.wp-caption {
	position: relative;
	max-width: 100%; /* Image does not overflow the content area */
	text-align: center;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	margin-bottom: 28px;
}

.wp-caption.aligncenter  {
	margin-bottom: 10px;
}

.wp-caption.alignnone {
	margin: 14px 0px 7px 0;
}

.wp-caption.alignleft {
	margin: 7px 28px 7px 0;
}

.wp-caption.alignright {
	margin: 7px 0 7px 28px;
}

.wp-caption img {
	display: inline-block;
	border: 0;
	margin: 0;

	vertical-align: bottom;

	max-width: 100%;
	width: auto;
	height: auto;

	padding: 0;
}

.wp-caption p.wp-caption-text {
	position: absolute;
	font-size: 14px;
	margin: 0;

	bottom: 0;
	left: 0;

	width: 100%;
	padding: 7px 14px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	background-color: rgba(0, 0, 0, 0.8);
}



















