body {
	direction: rtl;
	unicode-bidi: embed;
}

.atbb-grid-gallery>li {
	float: right;
	margin-right: 0;
	margin-left: 3%;
}

.atbb-grid-gallery>li.last {
	margin-left: 0;
	clear: left;
}