/*
Theme Name: skoty
Theme URI: http://themeforest.net/item/....
Author: atticthemes
Author URI: http://atticthemes.com
Description: Skoty is much more then just a creative blogging theme. It contains 3 plugins that will help you to elevate your blog to a new level by allowing you to build pages with verious layouts, letting your visitors show their appreciation by liking your posts and staying socially connected.
Version: 1.2.9
License: The License with which You Bought This Theme from Themeforest
License URI: http://themeforest.net/wiki/support/legal-terms/licensing-terms/
Tags: white, light, three-columns, right-sidebar, responsive-layout, custom-background, custom-menu, editor-style, featured-images, full-width-template, post-formats, sticky-post, theme-options, translation-ready
Text Domain: skoty
*/

.gourmet-ads > div {
    margin: 0 auto 40px;
    width: 728px;
}

.gourmet-ads-mobile {
    display: none;
}

.no-avatar .main-content section.about {
    padding-top: 0;
}

@media (max-width: 960px) {
    .gourmet-ads  {
        display: none;
    }
    .gourmet-ads-mobile {
        display: block;
    }
    .gourmet-ads-mobile  > div {
        width: 320px;
        margin: 0 auto 40px;
    }
    .no-avatar .main-content section.about {
        padding-top: 40px;
    }
}